* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.header {
    padding: 16px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 16px;    
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 83px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.nav {
    font-weight: 700;
    color: #1C1B1B;
}

.logo {
    margin-right: 370px;
}

.header__icons-wrapper {
    display: flex;
    align-items: center;
}

.introduction {
    background: #F0EFEB;
}
.introduction__text-block {
    max-width: 525px;    
    padding: 90px 0;
}

.introduction__container {
    display: flex;
    }

.introduction__title {
    font-size: 60px;
    line-height: 70px;    
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;    
}

button {
    border: none;
}

button:active {
    background-color: hwb(14 0% 0%);
}

.thalby__button {
    color: #FFFFFF;
    background: #000000;
    font-size: 17px;  
    line-height: 20px;
    padding: 8px 23px;
    cursor: pointer;
    border-radius: 100px;
    margin: 20px 0; 
}
.introduction__image {
    width: 600px;
    height: 600px;
}

.people, .politics {
    background: #CCCCCC4D;
}

.culture {
background: #CCCCCC99;
}

.sellers {
    
    background: #FFFFFF;
}

.people__title, .politics__title, .culture__title {
    margin-bottom: 31px;
}

.people__text, .politics__text, .culture__text {
    margin-bottom: 40px;
}

.thalby__text{
    font-size: 36px;
    line-height: 42.19px; 
}

.sellers__title, .features__text, .interview__title {
    text-align: center; 
}

.interview .thalby__text,.features .thalby__text {
    text-align: center;
}

.sellers__text, .interview__text-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
}

.interview__text-1 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    text-align: center;    
}

.link, .form__text {
    color: #000000;
    font-size: 17px;
    line-height: 19.92px;
    font-weight: 700;
    
}

.link:hover {
    color: #00B3FF;
}

.people__container, .politics__container, .culture__container {
    display: flex;
    padding-top: 50px 0;    
}

.peopleIcon, .politicsIcon, .cultureIcon {
    width: 385px;
    height: 525px;
    top: 0.05px;
    left: 100px;
}

.article__society {
    width: 532px;
    height: 510.88px;
    top: 7.13px;
    left: 535px;
    margin-left: 50px;
    margin-bottom: 58px;
    padding-top: 60px;
}

.article__culture {
    text-align: right;
    margin-right: 50px;
}

.sellers__title, .interview__title {
    margin: 87px 0 52px;
}

.sellers__text, .interview__text-1, .interview__text-2 {    
    margin: 47px 0 24px;
}

.best__sellers, .best__interview {
 display: flex;
 align-items: center;
 justify-content: center;
}

.article__sellers2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin:auto;
   
}
.article__sellers2 p {
    margin-top:10px;
    font-weight: 700;
}

.features__text {
    padding: 120px 0 60px;
}

.circle {    
    width: 70px;
    height: 70px;    
    border-radius: 50%;  
    margin-bottom: 26px;
}

.circle-1 {
    background: #21F7EC;
}

.circle-2 {
    background: #33D3BC;
}

.circle-3 {
    background: #18A5C6;
}

.circle-4 {
    background: #D38F62;
}

.circle-5 {
    background: #F94C43;
}
.circle-6 {
    background: #D399FF;
}

.circles__container-1, .circles__container-2 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    
}
.circles__container-1 {
    margin-bottom:20px;
}
.features{
    margin-bottom:50px;
}
.article__sellers {
    text-align: center;
    padding-top:30px;
}

.text_circle {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-width: 338.66px;
}

.text_circle p {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: center;    
}

.best__interview {    
    width: 100%;
    height: 100%;    
    margin-bottom: 79px;
    position: relative;
}

.best__interview::after { 
    content: '';
    width: 100%;
    height: 68%;
    background: #F0F0F0;
    display: flex;
    position: absolute;
    bottom:0;
    top: 32%;
    left: 0;
    z-index: -1;
    padding-top:30px;
}

.features .thalby__text{
    padding:50px;
}

.interview .thalby__text{
    padding-bottom: 50px;
}

.article__form {
    text-align: center;
    margin-bottom: 26px;
}

form input {
    border: 1px solid #000000;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    padding-left: 7px;
}

form {
    display: flex;
    justify-content: center;   
    align-items: center;  
    flex-direction: column;   
}

.first__join_input{
    display:flex;
    align-items: center;
    gap:50px;
}

.email__type_input{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.email__type_input input{
    width: 350px;
    margin-top:20px;
}